
@model List<Heroes>
<partial name="_Notification" />

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2 class="text-primary">
				List Postaci
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="KartaPostaci" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> Create New Hero
			</a>
		</div>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					 Imie postaci
				</th>
				<th>
					Rasa
				</th>
				
				<th>
					@*Tu dla gracza musi być pokaż postać a dla admina edytuj postać
						Coś w tym stylu
					*@
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.OrderBy(u => u.Id))
			{
				<tr>
					<td>@obj.Name</td> @*Tu damy Login gracza*@
					<td>
						@obj.Race @*A tu nazwę postaci żeby łatwiej było wyszukiwać*@
					</td>
					<td>
						<div class="w-75 btn-group" role="group">
							@if (User.IsInRole(Role.Role_Admin)){
							<a asp-controller="KartaPostaci" asp-action="Edit" asp-route-heroesId="@obj.Id" class="btn btn-outline-warning mx-2">
								<i class="bi bi-pencil-square"></i> Edit
							</a>
							<a asp-controller="KartaPostaci" asp-action="Delete" asp-route-heroesId="@obj.Id" class="btn btn-danger mx-2">
								<i class="bi bi-trash3"></i> Delete
							</a>
							}
							<a asp-controller="KartaPostaci" asp-action="KartaPos" asp-route-heroesId="@obj.Id" class="btn btn-Info mx-2">
								<i class="bi bi-file"></i> Karta
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>